Package: warp-beacon
Version: 0.0.1
Architecture: amd64
Maintainer: Sb0y <andrey@bagrintsev.me>
Installed-Size: 311983
Pre-Depends: dpkg (>= 1.16.1), python3
Section: python
Priority: optional
Homepage: https://github.com/sb0y/warp_beacon
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
